<nav>
  <h1>100DaysOfCode</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="https://secure.gravatar.com/avatar/0fd34130695d3d69a2a05f59511a5d5d?size=1000" id="logo" alt="Jeanine"/>
    {% endif %}
  </a>
  <div class="custom-panel">
    <ul class="list-unstyled">
      <li><a href="/100daysofcode/">Current (cs50)</a></li>
      <li><a href="/100daysofcode/r4">Round 4 (2021)</a></li>
      <li><a href="/100daysofcode/r3">Round 3 (2020)</a></li>
      <li><a href="/100daysofcode/r2">Round 2 (2018)</a></li>
      <li><a href="/100daysofcode/r1">Round 1 (2017)</a></li>
    </ul>
  </div>
  
   <div id="bio">
    <p>Find me at <a href="https://satinflame.com">satinflame.com</a></p>
  
  </div>
  <div id="social">
    {% include social.html %}
  </div>

  <div id="tags">
    {% include tags.html %}
  </div>
</nav>
