blockquote {
  border: 1px solid #3498db47;
  background: #3498db17;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  font-style: normal;
  color: #585858;
  /* font-weight: 300; */
}

blockquote p {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: .9em;
  color: #333;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
}

table, table td, table th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
  font-size: .9rem;
}
table th {
  background: #585858;
  color: #fff;
  font-weight: 600;
  vertical-align: bottom;
}
body {
  word-break: break-word;
}
a {
  color: #a71068;
}

a:visited {
  color: #920d5a;
}

body {
  border-top-color: #a71068;
}

a:focus, a:hover {
  color: #920d5a;
} 
blockquote {
  border-color: rgba(167, 16, 104, .1);
  background: rgba(167, 16, 104, .1);
  position: relative;
  border-left: 5px solid #920d5a;
}

blockquote:before {
  content: "\f081";
  position: absolute;
  top: 5px;
  left: -30px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #920d5a;
} 