* {
  box-sizing: border-box;
}
blockquote {
  border: 1px solid #3498db47;
  background: #3498db17;
  margin: 0;
  padding: 10px;
  margin-bottom: 10px;
  font-style: normal;
  color: #585858;
  /* font-weight: 300; */
}

blockquote p {
  font-style: normal;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
  color: #333;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
}

table,
table td,
table th {
  border: 1px solid #ccc;
  border-collapse: collapse;
  padding: 5px;
  font-size: 0.9rem;
}
table th {
  background: #585858;
  color: #fff;
  font-weight: 600;
  vertical-align: bottom;
}
body {
  word-break: break-word;
}
a {
  color: #a71068;
}

a:visited {
  color: #920d5a;
}

body {
  border-top-color: #a71068;
}

a:focus,
a:hover {
  color: #920d5a;
}
blockquote {
  border-color: rgba(167, 16, 104, 0.1);
  background: rgba(167, 16, 104, 0.1);
  position: relative;
  border-left: 5px solid #920d5a;
}

blockquote:before {
  content: "\f081";
  position: absolute;
  top: 5px;
  left: -30px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: #920d5a;
}
.container,
nav,
.container .four.columns,
.container .eleven.columns {
  width: 100%;
}

.container .columns {
  padding: 15px 30px;
}

@media (min-width: 768px) {
  .container .four.columns {
    width: 35%;
    float: left;
  }

  .container .eleven.columns {
    width: 65%;
    float: right;
  }
}
.container > .columns {
  margin: 0;
}

ul {
  padding-left: 25px;
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
}

nav h1 {
  font-size: 24px;
}

@media (min-width: 992px) {
  .container .four.columns {
    width: 25%;
  }

  .container .eleven.columns {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .container .four.columns {
    width: 22%;
  }

  .container .eleven.columns {
    width: 78%;
  }
}

.content {
  font-size: 18px;
}

.content, li {
  line-height: 1.6
}
li { margin-bottom:0;}
li + li { margin-top: .5rem;}

li pre {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

code {
  background: rgba(146, 13, 90, 0.1);
  padding: 5px 10px;
}
pre.highlight code {
  padding: 0;
}
blockquote p {
  color: #920d5a;
  font-size: 20px;
  line-height: 1.6;
}

blockquote {
  padding: 12px 24px;
  margin-bottom:  1rem;
}